@keyframes mobile-menu {
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.animation-mobile-menu {
  animation: mobile-menu 0.3s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes illustration-planet {
  50% {
    transform: scale(1.04);
  }
}
.animation-illustration-planet {
  animation: illustration-planet 1.1s ease-out;
}

@keyframes illustration-surface {
  0% {
    top: 57%;
    opacity: 0.5;
  }
}
.animation-illustration-surface {
  animation: illustration-surface 0.8s ease-out;
}

@keyframes parameter {
  0% {
    opacity: 0.3;
  }
  50% {
    transform: scale(1.03);
  }
}
.animation-parameter {
  animation: parameter 0.9s ease-out;
}

.body {
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  font-family: Spartan, sans-serif;
  color: #fff;
  text-transform: uppercase;
  background-color: #070724;
  background-image: url("../img/background-stars.svg");
  background-repeat: no-repeat;
  background-position: center -134px;
}
@media (max-width: 992px) {
  .body {
    font-size: 11px;
    font-weight: 400;
    line-height: 22px;
  }
}
@media (min-width: 689px) {
  .body--mercury .tab--active,
  .body--mercury .tab--active:hover {
    background-color: #419ebb;
    border-color: transparent;
  }
}
@media (max-width: 688px) {
  .body--mercury .tab--active::after {
    background-color: #419ebb;
  }
}
@media (min-width: 689px) {
  .body--venus .tab--active,
  .body--venus .tab--active:hover {
    background-color: #eda249;
    border-color: transparent;
  }
}
@media (max-width: 688px) {
  .body--venus .tab--active::after {
    background-color: #eda249;
  }
}
@media (min-width: 689px) {
  .body--earth .tab--active,
  .body--earth .tab--active:hover {
    background-color: #6d2ed5;
    border-color: transparent;
  }
}
@media (max-width: 688px) {
  .body--earth .tab--active::after {
    background-color: #6d2ed5;
  }
}
@media (min-width: 689px) {
  .body--mars .tab--active,
  .body--mars .tab--active:hover {
    background-color: #d14c32;
    border-color: transparent;
  }
}
@media (max-width: 688px) {
  .body--mars .tab--active::after {
    background-color: #d14c32;
  }
}
@media (min-width: 689px) {
  .body--jupiter .tab--active,
  .body--jupiter .tab--active:hover {
    background-color: #d83a34;
    border-color: transparent;
  }
}
@media (max-width: 688px) {
  .body--jupiter .tab--active::after {
    background-color: #d83a34;
  }
}
@media (min-width: 689px) {
  .body--saturn .tab--active,
  .body--saturn .tab--active:hover {
    background-color: #cd5120;
    border-color: transparent;
  }
}
@media (max-width: 688px) {
  .body--saturn .tab--active::after {
    background-color: #cd5120;
  }
}
@media (min-width: 689px) {
  .body--uranus .tab--active,
  .body--uranus .tab--active:hover {
    background-color: #1ec1a2;
    border-color: transparent;
  }
}
@media (max-width: 688px) {
  .body--uranus .tab--active::after {
    background-color: #1ec1a2;
  }
}
@media (min-width: 689px) {
  .body--neptune .tab--active,
  .body--neptune .tab--active:hover {
    background-color: #2d68f0;
    border-color: transparent;
  }
}
@media (max-width: 688px) {
  .body--neptune .tab--active::after {
    background-color: #2d68f0;
  }
}

.header {
  padding-top: 22px;
  padding-bottom: 27px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.header__container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-right: 40px;
  padding-left: 32px;
}
.header__logo {
  font-size: 28px;
  font-weight: 500;
  line-height: 36px;
  font-family: Antonio, sans-serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1.05px;
}
.header__menu-list {
  display: flex;
  gap: 0 32px;
}
.header__menu-link {
  font-size: 11px;
  font-weight: 700;
  line-height: 25px;
  position: relative;
  display: inline-block;
  color: rgba(255, 255, 255, 0.75);
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.2s;
}
.header__menu-link::before {
  content: "";
  position: absolute;
  top: -33px;
  width: 100%;
  height: 4px;
  transition: 0.2s;
}
.header__button {
  display: none;
}
@media (min-width: 865px) {
  .header__menu-link:hover {
    color: #fff;
  }
  .header__menu-link:hover[data-planet="mercury"]:before {
    background-color: #419ebb;
  }
  .header__menu-link:hover[data-planet="venus"]:before {
    background-color: #eda249;
  }
  .header__menu-link:hover[data-planet="earth"]:before {
    background-color: #6d2ed5;
  }
  .header__menu-link:hover[data-planet="mars"]:before {
    background-color: #d14c32;
  }
  .header__menu-link:hover[data-planet="jupiter"]:before {
    background-color: #d83a34;
  }
  .header__menu-link:hover[data-planet="saturn"]:before {
    background-color: #cd5120;
  }
  .header__menu-link:hover[data-planet="uranus"]:before {
    background-color: #1ec1a2;
  }
  .header__menu-link:hover[data-planet="neptune"]:before {
    background-color: #2d68f0;
  }
}
@media (max-width: 864px) {
  .header {
    padding-top: 32px;
  }
  .header__container {
    flex-direction: column;
    gap: 39px 0;
    align-items: center;
    padding: 0 41px;
  }
}
@media (max-width: 744px) {
  .header__menu-list {
    gap: 0 24px;
  }
}
@media (max-width: 688px) {
  .header {
    padding: 16px 0;
  }
  .header__container {
    flex-direction: row;
    padding: 0 24px;
  }
  .header__menu-list {
    display: none;
  }
  .header__button {
    display: block;
  }
  .header--open {
    position: fixed;
    z-index: 1;
    inset: 0;
    background-color: #070724;
  }
  .header--open .header__menu-list {
    position: absolute;
    top: 93px;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 24px;
  }
  .header--open .header__menu-item {
    position: relative;
    transform: translateX(-12%);
    opacity: 0;
  }
  .header--open .header__menu-item::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 7px;
    transform: translateY(-50%);
    width: 6px;
    height: 10px;
    background-image: url("../img/icon-chevron.svg");
    background-repeat: no-repeat;
  }
  .header--open .header__menu-item:not(:last-child) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  .header--open .header__menu-link {
    width: 100%;
    padding: 20px 0;
    padding-left: 44px;
    font-size: 15px;
    color: #fff;
    text-align: left;
    letter-spacing: 1.36px;
  }
  .header--open .header__menu-link[data-planet="mercury"]:after {
    background-color: #419ebb;
  }
  .header--open .header__menu-link[data-planet="venus"]:after {
    background-color: #eda249;
  }
  .header--open .header__menu-link[data-planet="earth"]:after {
    background-color: #6d2ed5;
  }
  .header--open .header__menu-link[data-planet="mars"]:after {
    background-color: #d14c32;
  }
  .header--open .header__menu-link[data-planet="jupiter"]:after {
    background-color: #d83a34;
  }
  .header--open .header__menu-link[data-planet="saturn"]:after {
    background-color: #cd5120;
  }
  .header--open .header__menu-link[data-planet="uranus"]:after {
    background-color: #1ec1a2;
  }
  .header--open .header__menu-link[data-planet="neptune"]:after {
    background-color: #2d68f0;
  }
  .header--open .header__menu-link::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
  .header--open .header__button {
    opacity: 0.25;
  }
}

.main {
  padding-bottom: 56px;
}
.main__container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 30px;
  max-width: 1192px;
  margin: 0 auto;
  padding: 0 41px;
}
.main__illustration {
  position: relative;
  display: flex;
  grid-column: span 7;
  grid-row: span 2;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding-top: 20px;
}
.main__illustration-wrapper .main__illustration-surface {
  content: "";
  position: absolute;
  top: 61%;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  width: 163px;
  height: 199px;
  background-image: url("../img/geology-mercury.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.main__illustration-wrapper--geology .main__illustration-surface {
  display: block;
}
.main__content {
  display: flex;
  grid-column: 9 / 13;
  flex-direction: column;
  min-height: 453px;
  margin-bottom: 38px;
  padding-top: 126px;
}
.main__title {
  font-size: 80px;
  font-weight: 500;
  line-height: 104px;
  margin-bottom: 24px;
  font-family: Antonio, sans-serif;
}
.main__excerpt {
  margin-bottom: auto;
  padding-bottom: 16px;
  text-transform: none;
}
.main__source {
  color: rgba(255, 255, 255, 0.5);
  text-transform: none;
}
.main__source-link {
  position: relative;
  display: inline-block;
  font-weight: 700;
  color: inherit;
}
.main__source-link::after {
  content: "";
  position: absolute;
  top: 7px;
  right: -20px;
  width: 12px;
  height: 12px;
  background-image: url("../img/icon-source.svg");
}
.main__source-link:link, .main__source-link:visited {
  text-decoration: underline;
}
.main__tabs {
  display: flex;
  grid-column: 9 / 13;
  flex-direction: column;
  gap: 16px 0;
  margin-bottom: 87px;
}
.main__parameter {
  grid-column: span 3;
}
@media (max-width: 992px) {
  .main {
    padding-bottom: 36px;
  }
  .main__container {
    grid-template-rows: 460px auto auto;
    column-gap: 10px;
  }
  .main__illustration {
    grid-column: span 12;
    grid-row: span 1;
  }
  .main__illustration-wrapper {
    transform: scale(0.635);
  }
  .main__content {
    grid-column: span 6;
    min-height: 253px;
    margin-bottom: 27px;
    padding-top: 0;
  }
  .main__title {
    font-size: 48px;
    font-weight: 500;
    line-height: 62px;
  }
  .main__source {
    font-size: 12px;
    font-weight: 400;
    line-height: 25px;
  }
  .main__source-link::after {
    right: -16px;
  }
  .main__tabs {
    grid-column: 8 / 13;
    margin-bottom: 0;
    padding-top: 56px;
  }
}
@media (max-width: 688px) {
  .main {
    padding-bottom: 39px;
  }
  .main__container {
    position: relative;
    display: block;
    padding: 0 24px;
  }
  .main__illustration {
    height: 355px;
    padding-top: 51px;
  }
  .main__illustration-wrapper {
    transform: scale(0.385);
  }
  .main__content {
    min-height: 235px;
    margin-bottom: 28px;
    text-align: center;
  }
  .main__title {
    font-size: 40px;
    font-weight: 500;
    line-height: 52px;
    margin-bottom: 16px;
  }
  .main__source {
    transform: translateX(-9px);
  }
  .main__tabs {
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0 24px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  .main__parameter {
    margin-bottom: 8px;
  }
}

.tab {
  font-size: 12px;
  font-weight: 700;
  line-height: 25px;
  position: relative;
  height: 48px;
  padding-left: 73px;
  color: #fff;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 2.57px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  transition: 0.2s;
}
.tab::before {
  content: "01";
  position: absolute;
  left: 27px;
  color: rgba(255, 255, 255, 0.5);
}
.tab::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  display: none;
  width: 100%;
  height: 4px;
  transition: 0.2s;
}
.tab:nth-child(2)::before {
  content: "02";
}
.tab:nth-child(3)::before {
  content: "03";
}
@media (max-width: 992px) {
  .tab {
    height: 40px;
    padding-left: 49px;
    font-size: 9px;
    letter-spacing: 1.93px;
  }
  .tab::before {
    left: 19px;
  }
}
@media (min-width: 689px) {
  .tab:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-color: transparent;
  }
}
@media (max-width: 688px) {
  .tab {
    width: 80px;
    height: auto;
    padding: 20px 0;
    line-height: 10px;
    text-align: center;
    border: none;
  }
  .tab::before {
    display: none;
  }
  .tab::after {
    display: block;
  }
}

.parameter {
  padding: 20px 22px 26px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.parameter__title {
  font-size: 11px;
  font-weight: 700;
  line-height: 25px;
  margin-bottom: 3px;
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: 1px;
}
.parameter__value {
  font-size: 40px;
  font-weight: 500;
  line-height: 52px;
  font-family: Antonio, sans-serif;
  color: #fff;
  letter-spacing: -1.4px;
}
@media (max-width: 1064px) {
  .parameter {
    padding: 15px 14px 17px;
  }
  .parameter__title {
    font-size: 8px;
    font-weight: 700;
    line-height: 16px;
    margin-bottom: 7px;
    letter-spacing: 0.73px;
  }
  .parameter__value {
    font-size: 24px;
    font-weight: 500;
    line-height: 31px;
    letter-spacing: -0.9px;
  }
}
@media (max-width: 688px) {
  .parameter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 24px 12px;
  }
  .parameter__title {
    margin-bottom: 0;
    padding-top: 4px;
  }
  .parameter__value {
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: -0.75px;
  }
}

/*# sourceMappingURL=style.css.map */
